<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Peter Zyambo</title>
        <!-- meta info -->
        <meta charset="UTF-8">
        <meta name="description" content="Portfolio Website">
        <meta name="author" content="Peter S. Zyambo">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- stylesheet -->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/slides.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
               <!-- icon -->
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/pz.ico') }}">
               <!-- js -->
        <script src="{{url_for('static', filename='js/script.js')}}"></script>
    </head>
    <body onload="typeWriter();" class="home">
        <a href="{{url_for('app_views.index')}}"><img src="{{url_for('static', filename='/img/pz.png')}}" alt="PZ-logo"></a>
        <div class="intro">
            <h1 id="name">Peter Zyambo</h1>
            <p id="job">Software engineer</p>
        </div>
        <nav>
                <a class="active" href="{{url_for('app_views.index')}}">Home</a><span id="pipe"> |</span>
                <a class="nav-link" href="{{url_for('app_views.projects')}}">projects</a><span id="pipe"> |</span>
                <a class="nav-link" href="{{url_for('app_views.about')}}">about me</a><span id="pipe"> |</span>
                <a class="nav-link" href="{{url_for('app_views.contact')}}">contact me</a><span id="pipe"> |</span>
                <!-- <a class="nav-link" href="{{url_for('app_views.api_route')}}">API</a> -->
        </nav>
        <hr>
        <section class="custom-section">
            {% block content %}
            {% endblock %}
        </section>
        <hr>
        <section class="social-section">
            <div class="social">
                <a href="https://www.linkedin.com/in/sangwani-pz" class="fa fa-linkedin fa-32x">
                </a><span> </span> <a href="https://www.twitter.com/peter_zyambo" class="fa fa-twitter">
                </a><span>  </span><a href="https://www.github.com/sangwani-coder" class="fa fa-github"></a>
            </div>
        </section>
        <section class="footer-section">
            <!-- <footer> Copyright &copy 2022 Peter S. Zyambo.</footer> -->
            <h3 class="tag tag-dev">Designed and Developed by <span class="tag-pz">Peter Zyambo</span></h3>
        </section>
    </body>
</html>