<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Peter Zyambo</title>
    </head>
    <body>
        <div class="intro">
            <h1>Peter Zyambo</h1>
            <p>Software engineer, Martial artist</p>
        </div>
        <nav>
                <a href="/zyambo/">Home</a><span> |</span>
                <a href="/zyambo/projects/">Projects</a><span> |</span>
                <a href="/zyambo/about/">About</a><span> |</span>
                <a href="/zyambo/contact">Contact</a><span> |</span>
                <a href="/zyambo/api/v1/">API</a>
        </nav>
        {% block content %}
        {% endblock %}
        
        <div class="social">
            <a href="#">LinkedIn</a><span> |</span> <a href="#">Twitter</a><span> |</span><a href="">Github</a>
        </div>
        <footer>Peter Zyambo 2022</footer>
    </body>
</html>