{% extends 'base.html'%}
{% block content%}
<div class="terminal">
    <div class="bio tooltip">Hover over me to get in touch for
    <ul class="contact-cls tooltiptext">
        <li>&#10003; Internship offers</li>
        <li>&#10003; Job offers</li>
        <li>&#10003; Freelance work</li>
        <li>&#10003; Networking</li>
        <li>&#10003; Buy me a coffee</li>
    </div>
    <p>sangwanizyambo@gmail.com <span id="pipe"> || </span><a class="">resume</a> <span id="pipe"> || </span> +260-969-620-939</p>
    
</div>


{% endblock%}