{% extends 'base.html'%}
{% block content%}
<div class="terminal">
    <div class="bio tooltip">Hover over me and see what I am available for...
    <ul class="contact-cls tooltiptext">
        <li>&#128187; Internship offers</li>
        <li>&#128187; Job offers</li>
        <li>&#128187; Freelance work</li>
        <li>&#x1f30d; Networking </li>
        <li>&#9749; Buy me a coffee &#x1F61C;</li>
    </div>
    <p>sangwanizyambo@gmail.com <span id="pipe"> || </span><a href="{{ url_for('static', filename='img/pz_cv.pdf') }}" download="peterzyambo">resume</a> <span id="pipe"> || </span> +260-969-620-939</p>
    
</div>


{% endblock%}