{% extends "base.html" %}
{% block content %}

<div class="bio">
    <h2>Short bio</h2>
    <p>Hi, My name is Peter Zyambo, I am a software engineering student at alx Africa and currently specializing in backend engineering.
        I love building web and desktop student management systems to help schools easily and effectively manage student informaiton
        In my spare time I study about HCI(Human Computer Interaction) and design GUI's.
        I have been running a coding club from 2018 where I teach coding to school kids aged 9 - 13 years. 
    </p>
</div>

<div class="home-projects">
    <h2>Projects</h2>
    <p>COMING SOON!</p>
</div>

{% endblock %}