{% extends 'base.html'%}
{% block title%} - Lipila{%endblock%}
{% block content%}
<div class="terminal">
    <h2>Lipila is a simple web application with an easy to use interface yet powerful and effective online fee collection system.</h2>
</div>
<div class="terminal">
    <p>Homepage of the fee collection system</p>
    <div class="lipila-img">
        <a href="#" class="fa fa-32x"> <img src="{{url_for('static', filename='img/lipila/img(1).png')}}" alt="lipila-homepage"></a>
    </div>
</div>
<hr>
<div class="terminal">
    <p >Parent/Student Activity: Enter the student code to start transaction</p>
    <div class="lipila-img">
        <a href="#" class="fa fa-32x"> <img src="{{url_for('static', filename='img/lipila/img(4).png')}}" alt="lipila-homepage"></a>
    </div>
</div>
<hr>
<div class="terminal">
    <p >Select items to pay for.</p>
    <div class="lipila-img">
        <a href="#" class="fa fa-32x"> <img src="{{url_for('static', filename='img/lipila/img(5).png')}}" alt="lipila-homepage"></a>
    </div>
</div>
<hr>
<div class="terminal">
    <p >Parent/Student Activity: Enter amount to be paid and account number to use.</p>
    <div class="lipila-img">
        <a href="#" class="fa fa-32x"> <img src="{{url_for('static', filename='img/lipila/img(6).png')}}" alt="lipila-homepage"></a>
    </div>
</div>
<hr>
<div class="terminal">
    <p >Parent/Student Activity: Complete payment.</p>
    <div class="lipila-img">
        <a href="#" class="fa fa-32x"> <img src="{{url_for('static', filename='img/lipila/img(7).png')}}" alt="lipila-homepage"></a>
    </div>
</div>
<hr>
<div class="terminal">
    <p >School Activity: Easily register your school in less than 3 minutes.</p>
    <div class="lipila-img">
        <a href="#" class="fa fa-32x"> <img src="{{url_for('static', filename='img/lipila/img(3).png')}}" alt="lipila-homepage"></a>
    </div>
</div>
<hr>
<div class="terminal">
    <p >School Activity: Login into the system to view reports and manage student information.</p>
    <div class="lipila-img">
        <a href="#" class="fa fa-32x"> <img src="{{url_for('static', filename='img/lipila/img(8).png')}}" alt="lipila-homepage"></a>
    </div>
</div>
<hr>
<div class="terminal">
    <p >School Activity: See recent activites in your dashboard and easily manage your students and reports.</p>
    <div class="lipila-img">
        <a href="#" class="fa fa-32x"> <img src="{{url_for('static', filename='img/lipila/img(10).png')}}" alt="lipila-homepage"></a>
    </div>
</div>
<hr>
<div class="terminal">
    <p >School Activity: Easily add a new student to the database</p>
    <div class="lipila-img">
        <a href="#" class="fa fa-32x"> <img src="{{url_for('static', filename='img/lipila/img(11).png')}}" alt="lipila-homepage"></a>
    </div>
</div>
<hr>
<div class="terminal">
    <p >School Activity: Check all students in the database and easily edit any details.</p>
    <div class="lipila-img">
        <a href="#" class="fa fa-32x"> <img src="{{url_for('static', filename='img/lipila/img(12).png')}}" alt="lipila-homepage"></a>
    </div>
</div>
<hr>
<div class="terminal">
    <p >School Activity: Check all Student Payments with a single click.</p>
    <div class="lipila-img">
        <a href="#" class="fa fa-32x"> <img src="{{url_for('static', filename='img/lipila/img(14).png')}}" alt="lipila-homepage"></a>
    </div>
</div>
{% endblock %}