{% extends 'base.html'%}
{% block title%} - Freelancing{%endblock%}
{% block content%}
<div class="terminal">
    <div class="container freelancing-page">
        <h1 style="color: white; font-weight:bolder;">Freelancing Services</h1>
        <div class="row">
            <div class="col-md-4 text-wrap">
                <h2 class="job-head">Music Performance</h2>
                <h6>From stately halls to intimate gatherings, I bring the magic of music to every occasion. My
                    experience includes:</h6>
                <ul>
                    <li>Performing at state and corporate functions</li>
                    <li>Adding soulful melodies to weddings and special events</li>
                    <li>Teaching private music lessons to nurture budding musicians</li>
                </ul>
            </div>
            <div class="col-md-4 text-wrap">
                <h2 class="job-head">Private Investigations</h2>
                <h6>Unraveling the truth is my forte. I offer discreet and professional investigative services for:</h6>
                <ul>
                    <li>Corporate clients seeking to protect their assets and interests</li>
                    <li>Individuals navigating sensitive personal matters</li>
                </ul>
            </div>
            <div class="col-md-4 text-wrap">
                <h2 class="job-head">Martial Arts Instruction</h2>
                <h6>Discipline, focus, and self-defense skills for everyone. I offer:</h6>
                <ul>
                    <li>Martial arts training for both kids and adults</li>
                    <li>Self-defense instruction for personal safety and empowerment</li>
                    <li>Customized programs tailored to individual needs and goals</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 text-wrap">
                <h2 class="job-head">Software Development</h2>
                <h6>I collaborate to craft elegant and functional software solutions that empower businesses and individuals. My
                    expertise spans:</h6>
                <ul>
                    <li>Full stack Web development utilizing Nodejs (Angularjs,Reactjs, Expressjs) or Python(Flask,Django)</li>
                    <li>REST API development utilizing Java, Nodejs or Python</>
                    <li>Mobile app development for seamless user experiences utilizing Java and React Native</li>
                    <li>Desktop application development tailored to specific needs utilizing Python(PyQT5) or C(GTK+)</li>
                </ul>
            </div>
        </div>
        <h6 class="call-to-action">Ready to collaborate? <a href="{{url_for('app_views.contact')}}"
                class="btn btn-primary">Contact Me</a> me today to discuss your project needs.</h6>
    </div>
    {% endblock%}