{% extends 'base.html'%}
{% block title%} Zyambo Projects{%endblock%}
{% block content%}
<div class="terminal">
    <div class="container projects-page">
        <h1 class="heading">Software Projects</h1>
        <div class="row">
            <div class="col-md-6 project-card">
                <h2>Sample project</h2>
                <h5>sample description</h5>
                <a href="#" target="_blank" class="btn btn-primary">View Project</a>
            </div>

            <div class="col-md-6 project-card">
            </div>

        </div>
    </div>
</div>

{% endblock%}