.home {
    /* \Photo by <a href="https://unsplash.com/@afgprogrammer?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Mohammad Rahmani</a> on <a href="https://unsplash.com/s/photos/software-engineer?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> */
    background-image: url('../img/sen.jpg');
    background-repeat: no-repeat;
    background-size: 100% 65%;
    background-position: bottom;
}

.apology {
    /* Photo by <a href="https://unsplash.com/@sadmax?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Amber Kipp</a> on <a href="https://unsplash.com/s/photos/surprised-cat?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
   */
    background-image: url('../img/cat.jpg') 50px 50px;
    background-repeat: no-repeat;
    width: 500px;
    height: 500px;
} 

.cover {
    background-color: black;
    color: red;

}

#pz {
    color: white;
}
@media screen and (max-width: 600px){
    #pz {
        font-size: 15px;
    }
}


.tag {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}

#tag-dev {
    color: #fff;
}
.tag-pz {
    color: white;
    background-color: brown;
    padding: 10px;
    font-weight: bolder;
}
.scroll-text  {
    height: 100px;
}

.contact-cls {
    list-style: none;
    font-size: larger;
    text-align: center;
}

#pipe {
    color: green;
    font-size: large;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    border: 5px solid gray;
}

.tooltip .tooltiptext{
    visibility: hidden;
    width: 200px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: px 0;

    /* position tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext{
    visibility: visible;
}

.blink-me {
    animation: blinker 20s step-start infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.my_menu {
    background-color: blue;
    color: white;
}

.new_menu
{
    background-color: red;
    color: white;
}

.project_links {
    font-size: x-small;
    font-style: oblique;
    background-color: brown;
    padding: 5px;
    /* font-weight: bolder; */
}

.github {
    color: orange;
}

.live {
    color: yellow;
}

.p-name {
    color: coral;
}


.resume {
    color: white;
}

.apology {
    text-align: center;
    border: 100px;
}