/* body */
html {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    background-color: black;
    min-height: 100vh;
    /* max-width: 400px; */

}

h4 {
    color: darkgreen;
    font-family: 'Times New Roman', Times, serif;
}

h5 {
    color: chocolate;
    font-family: 'Times New Roman', Times, serif;
}

/* logo img*/
.logo-img {
    position: relative;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 80px;
    left: 20px;
    top: 10px;
    float: left;
}

.lipila-img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* Intro */
.intro {
    color: #55ACEE;
    position: relative;
    left: 40px;
}

#name {
    position: relative;
    top: 30px;
}

#job {
    position: relative;
    top: 10px;
}

/* intro media query*/
@media screen and (max-width: 700px){
    img {
        width: 50px;
        left: 10px;
    }
    .intro {
        left: 20px;
    }
    #name {
        font-size: x-large;
        top: 13px;
    }
    #job {
        top: 0px;
    }
}


/* nav style */
nav {
    position: relative;
    left: 980px;
    top: 1px;

}

.active-pipe {
    color: green;
    font-size: x-large;
}

.nav-link {
    color: white;
    font-size: large;
}

.link-pipes {
    display: visibility;
}

@media screen and (max-width: 1020px){
    .nav-link {
        display: block;
    }
    nav {
        position: static;
    }
    .link-pipes {
        display: none;
    }
}


a:hover {
    color: bisque;
}

/* remove anchore underlines */
a {
    text-decoration: none;
}

/* bio class */
.bio {
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.about {
    background-color: black;
    border: 5px solid gray;
    padding: 10px;
    font-size: medium;
    text-align: left;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.projects {
    background-color: black;
    border: 5px solid gray;
    padding: 10px;
    font-size: medium;
    text-align: left;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.portfolio {
    background-color: black;
    border: 5px solid gray;
    padding: 10px;
    font-size: medium;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.terminal {
    padding: 20px;
    bottom: 30px;
    color: #ddd;
    text-align: center;
}
#hover {
    background-color: black;
    padding: 10px;
}

img:hover {
    box-shadow: 0 0 4px 6px rgba(0, 140, 186, 0.5);
  }

#bio {
    font-size: medium;
    position: relative;
    width: 740px;
    border-width: 10px;
    margin: auto;
    color: whitesmoke;
    background-color: black;
    border: 5px solid gray;
}

@media screen and (max-width: 700px){
    #bio {
        width: 300px;
    }
}


.link-anchor {
    font-size: larger;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.social-line {
    padding-bottom: 10px;
}
/* social links */
.social {
    padding-top: 15px;
    text-align: center;
}
.fa-twitter {
    background-color: #55ACEE;
    color: white;
    padding: 10px;
}

.fa-linkedin {
    background-color: #3B5997;
    color: white;
    padding: 10px;
}

.fa-github {
    background-color: gray;
    color: black;
    padding: 10px;
}
/* footer */
.footer-section {
    text-align: right;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 50px;
    right: 30px;
    font-size: small;
    color: gray;
}

@media screen and (max-width: 700px){
    .footer-section {
        position: static;
        text-align: center;
    }
}
.home-projects {
    text-align: center;
}

.work {
    background-color: aliceblue;
    border-color: #3B5997;
    color: black;
    border: 2px solid black;
}

table {
    margin: auto;
}

.ready {
    color: red;
}


/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add an active class to highlight the current page */
  .topnav li.a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home").
Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
    .topnav li:not(:first-child) {display: none;}
    .topnav li.icon {
      float: right;
      display: block;
    }
  }
  
  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon.
  This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive li.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive li {
      float: none;
      display: block;
      text-align: left;
    }
    
  }

@media screen and (max-width: 600px) {
    #tag-dev {
        font-size: small;
    }
    .tag-pz {
        font-size: small;
    }
}